@{
    ViewBag.Title = "Datos de contacto";
}
<h3>@ViewBag.Title</h3>

<address>
    Colonia Altos de Nejapa # 243<br />
    Managua, Nicaragua<br />
    <p title="Phone">Teléfono:</p>
    +(505) 22547862
</address>

<address>
    <strong>Correo electrónico:</strong>   <a href="mailto:wendypereiratercero@gmail.com">wendypereiratercero@gmail.com</a><br />
</address>