@{
    ViewBag.Title = "Inicio";
}

<div class="row">
    <div class="col-md-5 offset-1">
        <div class="card">
            <h5 class="card-header">Catálogo de Artículos</h5>
            <div class="card-body d-flex flex-column">
                <p class="card-text">Actualizaciones al inventario de artículos, precios, costos y existencias de artículos</p>
                @Html.ActionLink("Ver artículos", "Index", "Articulo", null, new { @class = "btn btn-dark ml-auto" })
            </div>
        </div>
    </div>
    <div class="col-md-5 offset-1">
        <div class="card">
            <h5 class="card-header">Facturación</h5>
            <div class="card-body d-flex flex-column">
                <p class="card-text">Creación de Facturas para la venta a clientes de los artículos en existencia</p>
                @Html.ActionLink("Crear nueva factura", "Create", "Factura", null, new { @class = "btn btn-dark ml-auto" })
            </div>
        </div>
    </div>
</div>

